<%= render 'shared/header'%>
<div class="mypage_wrap">
 
  <div class="mypage_top_contents">
      <div class="shop_create">
        <a href="/stands/new">
        <button type="button" class="newshop_button">ショップを作成する</button>
        </a>
      </div>
      <div class="top_title">
        <p class="title_text"><%=@nickname%>さんのショップ一覧</p>
        <p class="title_description">お店をクリックするとお店の管理ページに移動できます</p>
      </div>
 
  </div>
 

  <div class="mypage_body">
    <% @stands.each do|stand|%>
      <div class="content_stands">
        <%=link_to stand.name,stand_path(stand.id),class:"stand-name"%>
        <% if stand.image.attached?%> 
        <%= link_to image_tag(stand.image.variant(resize:'300X400'), class:"stand-image"), stand_path(stand.id)%>
        <% else %>
        <%= link_to image_tag('/images/shop_default_image1.png', size:'300x400',class:"stand-image"), stand_path(stand.id)%>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

