<%= render 'devise/shared/header'%>
<div class="session_page_wrap">
<div class="session_top">
<h2 class="session_top_text">ログイン</h2>
</div>

<%= form_with model: @user,url:new_user_session_path,class:"session_input", local: true do |f| %>
  <div class="field">
    <div class="session_label">
      <label class="session_label_text">メールアドレス</label>
    </div>
    <%= f.email_field :email, autofocus: true,class:"session_field", autocomplete: "email" %>
  </div>

  <div class="field">
    <div class="session_label">
      <label class="session_label_text">パスワード</label>
    </div>
    <%= f.password_field :password,class:"session_field", autocomplete: "current-password" %>
  </div>

  <div class="session_actions">
    <%= f.submit "ログインする" ,class:"session_actions_btn"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>