<%= render 'devise/shared/header'%>
<div class="edit_stand_pagewrap">
  <div class="new_stand_title">
    <p class="title_text">ショップを編集する</p>
    <p>下部のボタンでショップの削除もできます</p>
  </div>
  <div class="new_stand_inputs">
    <%= form_with model: @stand, local: true do |f|%>
    <div class="form_wrap">
    <%= render 'shared/error_messages', model: f.object %>

      <span class="form-text-mark">必須</span>
      <label class="form_text">ショップの名前</label>
      <p class="form_description">管理するのにわかりやすい名前をつけましょう</p>
      <div class="form_input">
      <%= f.text_field :name, id: 'name-input',class: 'name_input',placeholder:'例)太郎の野菜ショップ' %>
      </div>
    </div>

    <div class="form_wrap">
      <label class="form_text">ショップのイメージ画像</label>
      <p class="form_description">お店の写真を貼りましょう  写真がない場合はデフォルトのイラストが表示されます</p>
      <div class="form_input">
        <%= f.file_field :image, id:'stand-image-input',class: 'stand_image_input'%>
      </div>
    </div>

    <div class="form_wrap">
      <span class="form-text-mark">必須</span>
      <label class="form_text">販売場所</label>
      <p class="form_description">マップで場所が表示されます。都道府県、市町村区、番地まで正確に記載してください</p>
      <div class="form_input">
      <%= f.text_field :street_address, id:'steet_address_input',class:'address_input',placeholder:"例)東京都千代田区丸の内１丁目"%>
      </div>
    </div>

    <div class="new_stand_action">
      <%=f.submit "ショップを編集する",class:"new_stand_action_btn"%>
    </div>


  <% end %>
  </div>

    <div class="delete-btn">
    <%=link_to 'ショップを削除する',stand_path(@stand.id),method: :delete,class:"stand-delete-link"%>
  </div>

</div>
