<%= render 'shared/header'%>

<div class="standshow_pagewrap">

<div class="standshow_top_contents">
  <div class="standshow_title">
    <p class="standshow_title_text"><%=@stand.name%></p>
  </div>
  <div class="standshow_description">
  <% if @stand.user_id == current_user.id%>
    <p class="standshow_description_text">売りたい野菜の出品したり、出品した野菜を確認や取り消しができるページです</p>
  <% end %>
  </div>
</div>

<div class="standshow_body">
<% if @stand.user_id == current_user.id%>
  <div class="vegetable-new">
    <%= link_to '野菜を出品する',new_stand_vegetable_path(@stand),class:'vegetable-new-link'%>
    <%=link_to 'お店の情報編集' ,edit_stand_path(@stand.id), class:"stand-edit-btn"%>
  </div>
<% end %>

  <div class="standshow_contents">
    <div class="standshow-contents-title">
      <p>このお店で今販売中の野菜</p>
    </div>
    <ul class="vegetables-index"> 
    <% @vegetables.each do |vegetable| %> 
      <li class="vegetable">
        <%=image_tag(vegetable.image,class:'vegetable-icon')%>
        <table class="standshow_vegetable_table">
        <span><%=vegetable.category%></span>
        <div class="vege-menus">
        <%= link_to '詳細を見る',"/stands/#{vegetable.stand_id}/vegetables/#{vegetable.id}", method: :get, class:"vege-menu-btn-show"%>
        </div>
          <tr>
            <td class="detail-item">包装単位</td>
            <td class="detail-value"><%=vegetable.amount%></td>
          </tr>
          <tr>
            <td class="detail-item">値段</td>
            <td class="detail-value"><%=vegetable.price%><span>円</span></td> 
          </tr>
        </table>
        </li>
    <% end %>
    </ul>
    </div>
  </div>
</div>

</div>